<div class="mat-elevation-z2" style="width: 30%; padding: 30px; margin: 50px auto; display: flex; justify-content: center;">
    <form [formGroup]="formEmpleado">
        <div class="flex">
            <mat-form-field >
                <mat-label>Nombre Completo</mat-label>
                <input matInput formControlName="nombre" required>
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field >
                <mat-label>Correo</mat-label>
                <input matInput formControlName="correo" required>
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field >
                <mat-label>Sueldo</mat-label>
                <input matInput formControlName="sueldo" type="number" required>
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field >
                <mat-label>Fecha de Contrato</mat-label>
                <input matInput formControlName="fechaContrato" required>
              </mat-form-field>
        </div>
        <div class="flex">
            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
            <button mat-raised-button color="warn" (click)="volver()" style="margin-left: 8px;">Volver</button>
        </div>
    </form>
</div>